/* footer */
.footer {
  background: var(--footer-background-color);
  padding: 60px 0;
}
.footer .container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  @include tablet {
    flex-direction: unset;
    flex-wrap: wrap;
    // align-items: unset;
    // justify-content: unset;
  }
}

.footer__box-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  @include tablet {
    margin-left: 61px;
    margin-bottom: 0;
  }
  @include desktop {
    align-items: flex-start;
    margin-left: 0;
  }
}
.logo--footer {
  color: var(--footer-contact-color);
}
.footer__div-logo {
  margin-bottom: 20px;
}
.contacts-footer {
  background: var(--footer-background-color);
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    align-items: flex-start;
  }
}
.contacts-footer__item:not(:last-child) {
  margin-bottom: 9px;
}

@mixin title-font {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms var(--timing-function);
}
.contacts-footer__address {
  color: var(--footer-contact-color);
  @include title-font;
  &:hover,
  &:focus {
    color: var(--highlight-color);
  }
}
.contacts-footer__email,
.contacts-footer__phone {
  color: rgba(255, 255, 255, 0.6);
  @include title-font;
  &:hover,
  &:focus {
    color: var(--highlight-color);
  }
}

/* --NEW-- */
.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  margin-bottom: 60px;
  @include tablet {
    // justify-content: unset;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 165px;
  }
  @include desktop {
    align-items: flex-start;
    // justify-content: unset;
    margin-top: 0;
    margin-left: 70px;
    padding-top: 12px;
  }
}
.footer-invite {
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
  margin-bottom: 20px;
}
.footer-social-networks {
  display: flex;
}
.footer-social-networks__item {
  margin-left: 10px;
  &:first-child {
    margin-left: 0;
  }
}
.footer-social-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  color: var(--footer-contact-color);
  fill: var(--footer-contact-color);

  &:hover,
  &:focus {
    background-color: var(--highlight-color);
  }
  transition: background-color 250ms var(--timing-function);
}
.footer-social-networks__icon {
  color: currentColor;
}

/* --- MAILING LIST FOOTER --- */

.mailing-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  @include tablet {
    margin: 0 auto;
    margin-top: 60px;
  }
  @include desktop {
    display: block;
    margin-left: 93px;
    margin-top: 12px;
  }
}
.mailing-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-contact-color);
  margin-bottom: 20px;
}
.mailing {
  display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  flex-direction: column;
  @include desktop {
    flex-direction: unset;
  }
}
.mailing__form {
  position: relative;
  // width: 100%;
}

.mailing__input {
  @include min-mobile {
    width: 310px;
  }
  @include mobile {
    width: 450px;
  }
  @include desktop {
    width: 358px;
  }
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--footer-contact-color);
  // margin-bottom: 20px;
  @include desktop {
    margin-bottom: 0;
    margin-right: 12px;
  }
  transition: border-color 250ms var(--timing-function);
  &:hover + .mailing__label,
  &:focus + .mailing__label,
  &:not(:placeholder-shown) + .mailing__label {
    top: -15%;
    left: 0;

    font-size: 12px;
  }
  &:hover,
  &:focus {
    border-color: var(--highlight-color);
  }
}
.mailing__label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: all 250ms var(--timing-function),
    font-size 250ms var(--timing-function);
}

// .mailing__input:hover + .mailing__label,
// .mailing__input:focus + .mailing__label,
// .mailing__input:not(:placeholder-shown) + .mailing__label {
//   border-color: var(--highlight-color);
//   top: -15%;
//   left: 0;

//   font-size: 12px;
// }

.footer-btn {
  margin-top: 20px;
  @include desktop {
    margin-top: 0;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--footer-contact-color);
  // border: none;
}
.footer-btn__icon {
  margin-left: 10px;
}
